*{
    margin: 0;
    padding: 0;
}

.barra-preta{
    background-color: black;
    width: 220px;
    height: 115PX;
}

.barra-preta img{    
    height: 74PX;
    padding: 20px;
    background-color: black;
    border-radius: 51px;
    margin-left: 175px;
    border: 1px solid black;
    border-radius: 51px;
}

.logo-etec{
    border: 1px solid rgba(128, 128, 128, 0.493);

}

.logo-etec img{
    height: 90px;
    padding: 40px;
}

nav{
    position: sticky;
    display: flex;
    height: 60px;
    background-color: #b20000;
    justify-content: center;
}

nav a{
    display: flex;
    height: 30px;
    color: #fff;
    align-items: center;
    padding: 1%;
    font-family: Roboto,sans-serif;
    cursor: pointer;

}

nav a:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.148);
}

.imagem-meio img{
    padding: 50px;
    width: 90%;
    margin-top: 150px;
    margin-bottom: 150px;
}

.informacoes{
    height: 250px;
    background-color: #004854;
}

.copyright{
    background-color: #005c6d;
    height: 125px;
}